@import url(http://weloveiconfonts.com/api/?family=entypo);
/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: sans-serif;
}

.navbar {
  height: 4.5rem;
  width: 100%;
  background-color: skyblue;
  margin-bottom: 0.5rem;
  overflow: hidden;
}

header {
  display: flex;
  align-content: center;
  justify-content: center;
  color: white;
}

.open-slide {
}

#mainContent {
  margin-top: 8rem;
  text-align: center;
}

.categories {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  color: #686868;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  font-size: 2.5rem;
  padding: 3.5rem;
  border-bottom: 0.1rem solid rgb(219, 219, 219);
}

.entypo-heart {
  font-size: 4rem;
}

ul a:nth-child(odd) {
  border-right: 0.1rem solid rgb(219, 219, 219);
}

.redHeart {
  color: red;
}

.greenHeart {
  color: green;
}

.violetHeart {
  color: violet;
}

.yellowHeart {
  color: goldenrod;
}

.orangeHeart {
  color: orange;
}

.darkBlueHeart {
  color: darkblue;
}

.tealHeart {
  color: teal;
}

.blueVioletHeart {
  color: blueviolet;
}

.chartreuseHeart {
  color: chartreuse;
}

.coralHeart {
  color: coral;
}

.orchidHeart {
  color: orchid;
}
