@import url(http://weloveiconfonts.com/api/?family=entypo);
/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

header {
  height: 4.5rem;
  background-color: skyblue;
  color: white;
  margin-bottom: 0.5rem;
  display: flex;
  align-content: center;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 100%;
}

#mainContent {
  margin-top: 8rem;
  text-align: center;
}

.categories {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  color: #686868;
}

h1 {
  /* background-color: #999; */
  padding: 4.5rem;
  border-right: 0.2rem solid #686868;
  border-bottom: 0.2rem solid #686868;
}
